
.idea/

pronoteAPI/__pycache__/

pronoteAPI/html/

venv/
pronoteAPI/ext/__pycache__/

main.py

Pronote-API/

doc/

make.bat

Makefile

README.md

source/index.rst

source/conf.py

pronoteAPI/errors.py

docs/index.rst

docs/conf.py
